/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/* STANDARD SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.align-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

img {
    width: 100%;
}

/* FONTS */

/* FITBALANCE HEADER */
#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid black;
    height: 10vh;
    width: 100vw;
    font-family: "Tilt Neon", sans-serif;
}

#fitbalance-logo {
    background: linear-gradient(305deg, #11161B 12.08%, #2A3845 140.98%);
    color: #F8F6E7;
    padding: 20px 25px;
    letter-spacing: 0.1em;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    left: 3%;
}

#fitbalance-logo>h3 {
    font-size: 1.1em;
}

#user-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: absolute;
    right: 7%;
}

#user-stats-img {
    width: 2.5em;
}

/* DASHBOARD */
#dashboard-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 1em;
}

#dashboard-flex-grid>div {
    height: 40vw;
    width: 40vw;
}

.dashboard-flex-span {
    width: 100%;
    height: 35vw;
}

.dashboard-item {
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dashboard-flex-span:nth-child(1) {
    background: linear-gradient(305deg, #11161B 12.08%, #2A3845 140.98%);
}

#dashboard-flex-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 50%;
    row-gap: 1em;
    column-gap: 11%;
    justify-content: center;
}

#dashboard-flex-grid>div:nth-child(1),
#dashboard-flex-grid>div:nth-child(4),
#dashboard-flex>div:nth-child(3) {
    background-color: white;
}

#dashboard-flex-grid>div:nth-child(2),
#dashboard-flex-grid>div:nth-child(3) {
    background: linear-gradient(308deg, #18212E 12.72%, rgba(24, 33, 46, 0.96) 44.48%, rgba(24, 33, 46, 0.88) 113.15%);
}


/* NAVIGATION */
#navigation {
    border-radius: 10px;
    background: linear-gradient(305deg, #11161B 12.08%, #2A3845 140.98%);
    display: flex;
    width: 90%;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 3;
    font-family: "Tilt Neon", sans-serif;
}

.nav-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 0.05em;
    color: white;
}

.active {
    color: #2581FA;
    background: rgba(38, 132, 255, 0.218);
    border-radius: 40px;
    padding: 20px 15px;
}

#navigation a {
    text-decoration: none;
    padding: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECTIONS */
#section-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 1em;
    margin-bottom: 10em;
    font-family: "Tilt Neon", sans-serif;
}

.section-box {
    width: 100%;
    background-attachment: fixed;
    background-size: 400px;
    background-repeat: no-repeat;
    height: 10em;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    transition: 500ms ease transform;
}

.section-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
}

.white-overlay {
    background: linear-gradient(90deg, #FFF 41.79%, rgba(153, 153, 153, 0.00) 141.79%);
}

.darkblue-overlay {
    background: linear-gradient(-90deg, #11161B 41.79%, rgba(153, 153, 153, 0.00) 141.79%);
}

.section-box>img {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
}

#section-1>img,
#section-3>img {
    right: 0;
    width: 70%;
}

#section-2>img,
#section-4>img {
    left: 0;
    width: 85%;
}

.section-label-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-label-box>h3{
    z-index: 5;
    width: 50%;
}

.section-label-left{
    color: #11161B;
    justify-content: flex-start;
    padding-left: 2em;
}

.section-label-right{
    color: white;
    justify-content: flex-end;
    padding-right: 2em;
}

.section-box:hover{
    transform: scale(1.05);
}