/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/* STANDARD SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

/* FONTS */

/* FITBALANCE HEADER */
#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 10vh;
    width: 100vw;
    font-family: "Tilt Neon", sans-serif;
}

#fitbalance-logo {
    background: linear-gradient(305deg, #11161B 12.08%, #2A3845 140.98%);
    color: #F8F6E7;
    padding: 20px 30px;
    letter-spacing: 0.1em;
    position: absolute;
    left: 3%;
    border-radius: 40px;
    cursor: pointer;
}

#fitbalance-logo>h3 {
    font-size: 1.3em;
}

#user-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: absolute;
    right: 5%;
}

#user-stats-img {
    width: 2.5em;
}

/* DASHBOARD */
#dashboard-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 20px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

#dashboard-flex-grid>div {
    height: 40vw;
    width: 40vw;
}

.dashboard-flex-span {
    width: 90%;
    height: 35vw;
}

.dashboard-item {
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dashboard-flex-span:nth-child(1) {
    background: linear-gradient(305deg, #11161B 12.08%, #2A3845 140.98%);
}

#dashboard-flex-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 50%;
    row-gap: 1em;
    column-gap: 11%;
    justify-content: center;
}

#dashboard-flex-grid>div:nth-child(1),
#dashboard-flex-grid>div:nth-child(4),
#dashboard-flex>div:nth-child(3) {
    background-color: white;
}

#dashboard-flex-grid>div:nth-child(2),
#dashboard-flex-grid>div:nth-child(3) {
    background: linear-gradient(308deg, #18212E 12.72%, rgba(24, 33, 46, 0.96) 44.48%, rgba(24, 33, 46, 0.88) 113.15%);
}


/* NAVIGATION */
#navigation {
    border-radius: 10px;
    background: linear-gradient(305deg, #11161B 12.08%, #2A3845 140.98%);
    display: flex;
    width: 90%;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    font-family: "Tilt Neon", sans-serif;
}

.nav-group {
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 40px;
    color: #2581FA;
    background: rgba(38, 132, 255, 0.472);
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 0.05em;
}