/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/* STANDARD SETTINGS */
:root {
    --darkblue-small-gradient: linear-gradient(305deg, #11161B 12.08%, #2A3845 140.98%);
    --darkblue-small-gradient-lighter: linear-gradient(308deg, #18212E 12.72%, rgba(24, 33, 46, 0.96) 44.48%, rgba(24, 33, 46, 0.88) 113.15%);
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --white-overlay: linear-gradient(90deg, #FFF 41.79%, rgba(153, 153, 153, 0.00) 141.79%);
    --dark-overlay: linear-gradient(-90deg, #11161B 41.79%, rgba(153, 153, 153, 0.00) 141.79%);
    --main-color: #11161B;
    --secondary-color: white;
    --margin-c-header: 13vh;
    --light-blue: #c5e5ff;
    --secondary-blue: #3617FF;
    --calendar-input-bg: linear-gradient(200deg, #11161B 12.08%, #2A3845 140.98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    background-color: white;
}

body {
    scroll-behavior: smooth;
}

#calendar-html {
    overflow-y: hidden;
}

#body-calendar {
    background-color: #e2e2e6;
    overflow-y: hidden;
}

.align-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

img {
    width: 100%;
}

/* FONTS */
@font-face {
    font-family: 'time-font';
    src: url('../font/Nippo-Regular.otf');
}

@font-face {
    font-family: 'calendar-font';
    src: url('../font/Satoshi-Regular.otf');
}

@font-face {
    font-family: 'calendar-font-bold';
    src: url('../font/Satoshi-Bold.otf');
}

@font-face {
    font-family: 'calendar-font-black';
    src: url('../font/Satoshi-Black.otf');
}

/* FITBALANCE HEADER */
#header {
    border-bottom: 2px solid black;
    min-height: 90px;
    height: 12vh;
    width: 100vw;
    font-family: "Tilt Neon", sans-serif;
    position: fixed;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    background-color: white;
}

#header-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    transition: 0.6s ease all;
    margin: 0 5%;
    width: 100%;
}

#fitbalance-logo {
    background: var(--darkblue-small-gradient);
    color: #F8F6E7;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    border-radius: 40px;
    cursor: pointer;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

#fitbalance-logo>h3 {
    font-size: 1.1em;
}

#header a {
    text-decoration: none;
}

#user-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#user-stats-img {
    width: 2.5em;
}

/* DASHBOARD */
#dashboard-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 1em;
    margin-top: var(--margin-c-header);
    margin-bottom: 10em;
}

#dashboard-flex-grid>div {
    height: 40vw;
    width: 40vw;
}

.dashboard-flex-span {
    width: 100%;
    height: 35vw;
}

.dashboard-item {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 1.5em 1.5em;
}

.dashboard-flex-span:nth-child(1) {
    background: var(--darkblue-small-gradient);
}

#dashboard-flex-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 50%;
    row-gap: 1em;
    column-gap: 11%;
    justify-content: center;
}

#dashboard-flex-grid>div:nth-child(1),
#dashboard-flex-grid>div:nth-child(4),
#dashboard-flex>div:nth-child(3) {
    background-color: white;
}

#dashboard-flex-grid>div:nth-child(2),
#dashboard-flex-grid>div:nth-child(3) {
    background: var(--darkblue-small-gradient-lighter);
}
#completed-sessions-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

#completed-sessions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Tilt Neon", sans-serif;
    
}

#completed-sessions>a{
    color: white;
}

#completed-sessions-diagramm-info{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:end;
}

#completed-sessions-diagramm{
    border: #4e33ff 2px solid;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 2vh;
    border-radius: 2em;

}

#diagramm-content{
    height: 100%;
    width: 100%;
    transform: translateX(-28.57%);
    background-color: #3617FF;
}

#completed-sessions-diagramm-info{
    color: white;
    font-family: "Tilt Neon", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#completed-sessions-diagramm-info>h5{
    align-self: flex-end;
}


/* NAVIGATION */
#navigation {
    border-radius: 10px;
    background: var(--darkblue-small-gradient);
    display: flex;
    width: 90%;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 10;
    font-family: "Tilt Neon", sans-serif;
}

.nav-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 0.05em;
    color: white;
}

.active {
    color: #2581FA;
    background: rgba(38, 132, 255, 0.218);
    border-radius: 40px;
    padding: 20px 15px;
}

#navigation a {
    text-decoration: none;
    padding: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECTIONS */
#section-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 1em;
    margin-bottom: 10em;
    margin-top: 8em;
    font-family: "Tilt Neon", sans-serif;
}

#section-flex>a {
    text-decoration: none;
    width: 100%;

}

.section-box {
    width: 100%;
    background-attachment: fixed;
    background-size: 400px;
    background-repeat: no-repeat;
    height: 10em;
    background-color: gray;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    transition: 500ms ease transform;
}

.section-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
}

.white-overlay {
    background: var(--white-overlay);
}

.darkblue-overlay {
    background: var(--dark-overlay);
}

.section-box>img {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
}

#section-1>img,
#section-3>img {
    right: 0;
    width: 70%;
}

#section-2>img,
#section-4>img {
    left: 0;
    width: 85%;
}

.section-label-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-label-box>h3 {
    z-index: 5;
    width: 50%;
}

.section-label-left {
    color: var(--main-color);
    justify-content: flex-start;
    padding-left: 2em;
}

.section-label-right {
    color: var(--secondary-color);
    justify-content: flex-end;
    padding-right: 2em;
}

.section-box:hover {
    transform: scale(1.05);
}

/* PLAN YOUR TRAINING */
#calendar-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--margin-c-header) + 1em);
    gap: 2em;
    font-family: "Tilt Neon", sans-serif;
    overflow-y: hidden;
}

#calendar-flex-select {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.calendar-select-btn {
    border: var(--main-color) 2px solid;
    padding: 0.9rem;
    border-radius: 0.5em;
    transition: all 0.5s ease;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-size: 0.9em;
}

.calendar-text-flex {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.calendar-text-flex>i {
    font-size: 1.1rem;
}

.calendar-select-btn:hover {
    background: var(--darkblue-small-gradient-lighter);
    color: white;
}

.calendar-select-btn-active {
    background: var(--darkblue-small-gradient-lighter);
    color: var(--secondary-color);
}

#calendar-date-information {
    width: 90%;
}

.span {
    width: 100%;
}

#calendar-weekday {
    text-align: left;
}

.calendar-date-info {
    color: var(--main-color);
}

#calendar-time {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

#calendar-time-msz {
    font-family: 'time-font';
    border-right: 1px solid black;
    padding-right: 3em;
}

#calendar-time-msz>h4:nth-child(1) {
    font-family: "Tilt Neon", sans-serif;
    font-size: 1rem;
}

#calendar-time-msz>h4 {
    font-size: 7vh;
}

#calendar-time-msz>h4:nth-child(3) {
    text-transform: uppercase;
}

#calendar-time-now-msz {
    font-family: 'time-font';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#calendar-time-now-msz>h4:nth-child(1) {
    font-size: 3em;
}

#training-sessions-flex {
    width: 100%;
    min-height: 100vh;
    background-color: var(--secondary-color);
    border-radius: 3em 3em 0 0;
    display: flex;
    flex-direction: column;
    padding: 1.4em 0 0 0;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    transition: all 0.5s ease;
    overflow-y: visible;
}

#training-sessions {
    overflow: scroll;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#trainings-today-header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 1%;
}

#trainings-today {
    width: 100%;
    overflow: scroll;
    height: 40vh;
}

#trainings-today-header-headline {
    font-size: 1rem;
}

#add-session {
    background: var(--darkblue-small-gradient);
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(89, 89, 89);
    transition: transform 500ms ease;
}

#trainings-today-listed {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    height: auto;
}

#trainings-today-listed::-webkit-scrollbar {
    display: none;
}

#calendar-input-field {
    display: none;
    justify-content: center;
    align-items: center;
}

.training-session {
    width: 97%;
    border-radius: 1em;
    padding: 1rem 1.5rem;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.session-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.session-header>h2 {
    font-size: 1.7rem;
    width: 70%;
    text-transform: capitalize;
    font-family: 'calendar-font-black';
    font-weight: lighter;
}

.training-session:nth-child(1) {
    background: #bec4ff;
}

.training-session:nth-child(2) {
    background: #4fe0fe;
}

.unit-icon {
    font-size: 1.5em;
    border: var(--main-color) 1px solid;
    color: var(--main-color);
    padding: 0.5em 0.7em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'calendar-font';
}

.time-start-and-end {
    font-size: 1.6rem;
}

.duration {
    background-color: gray;
    padding: 0.8em 1em;
    border-radius: 3em;
    font-size: 1.3em;
}

#calendar-input-field {
    display: none;
    flex-direction: column;
    gap: 1em;
    font-family: 'calendar-font';
    padding-bottom: 2em;
    width: 90%;
    margin-top: -10%;
}

.calendar-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5em;
    width: 100%;
}

.swipe-category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 1em;
    height: 1em;
    width: 1em;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s linear, opacity 0.3s ease, box-shadow 0.6s ease-out;
}

#swipe-category-left {
    opacity: 0.5;
}

.valid-button:hover {
    box-shadow: 0 0 0 5px #828dea;
}

#swipe-category-left.valid-button:hover {
    transform: translateX(-10px);
}

#swipe-category-right.valid-button:hover {
    transform: translateX(10px);
}

.calendar-input-describtion {
    font-size: 1.4em;
}

#training-categories {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 40vw;
    height: 25vh;
}

.category {
    box-shadow: 0 0 0 5px rgba(135, 155, 255, 0.294);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 1rem;
    width: 90%;
    height: 100%;
    gap: 1rem;
    text-transform: capitalize;
    border-radius: 1em;
}

#input-category {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.category-icon {
    width: 2.5em;
    height: 2.5em;
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #828dea;
    border-radius: 50%;
}

.calendar-input-element {
    transition: opacity 0.5s ease;
    margin-top: 3rem;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.change-time-module {
    background-color: gray;
    box-shadow: 4px 2px 100px rgba(128, 128, 128, 0.13);
    padding: 0 1em;
    border-radius: 0.2em;
    cursor: pointer;
}

#calendar-input-1 {
    display: none;
    opacity: 0;
}

#calendar-input-3 {
    display: none;
    opacity: 0;
}

#calendar-input-4 {
    display: none;
    opacity: 0;
    width: 100%;
}

#time-select-flex {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.time-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#next-input-step {
    background-color: rgb(28, 66, 136);
    padding: 0.4em 1em;
    font-family: "Tilt Neon", sans-serif;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
}

#summary {
    width: 100%;
}

#summary>.training-session {
    width: 100%;
}

#month-switch {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.month-label {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'calendar-font-bold';
    font-size: 1.6em;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#month-switch>div {
    position: relative;
    padding: 1em 0;
    width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#month-switch>div>h3 {
    transition: all 0.5s ease;
    z-index: -1;
}

.month-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.775);
    display: flex;
    align-items: center;
}

#month-before>.month-overlay>span {
    position: absolute;
    right: -10%;
    padding: 1em 0em 1em 1em;
}

#month-after>.month-overlay>span {
    position: absolute;
    left: -10%;
    padding: 1em 1em 1em 0;
}

#trainings-calendar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#trainings-month-listed {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}

.month-session {
    width: 97%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    background-color: #2581FA;
    border-radius: 1em;
    padding: 1em 4em;
}

.month-session-weekday {
    font-family: "Tilt Neon", sans-serif;

}

.month-session-month,
.month-session-day-of-month {
    font-family: 'calendar-font-bold';
    font-weight: lighter;
    font-size: 3rem;
}

.month-session-month {
    margin-top: -0.3em;
}

.month-session-date {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.month-session-date-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.month-session-category-name {
    text-transform: capitalize;
}

.month-session-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#trainings-month-listed-outside {
    overflow: scroll;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#trainings-month {
    width: 100%;
    overflow: scroll;
    height: 70vh;
    transition: all 400ms ease;
}


/* UI VERSE Code */
.radio-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50%;
}


.radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    position: relative;
}

.radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 45px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
}

.radio-input label:hover::before {
    transition: all 0.2s ease;
    background-color: #2a2e3c;
}

.radio-input .label:has(input:checked)::before {
    background-color: #2d3750;
    border-color: #435dd8;
    height: 50px;
}

.radio-input .label .text {
    color: #fff;
}

.radio-input .label input[type="radio"] {
    background-color: #202030;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-input .label input[type="radio"]:checked {
    background-color: #435dd8;
    -webkit-animation: puls 0.7s forwards;
    animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    transform: scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
    transform: scale(1);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/* UI VERSE Code end */
#input-date {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.date-input {
    background-color: transparent;
    outline: none;
    border: 2px solid #435dd8;
    border-radius: 10px;
    padding: 0.5em;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'calendar-font';
}

/* TRACK YOUR TRAINING */
#selection-flex {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    margin-top: calc(var(--margin-c-header) + 2em);
    font-family: "Tilt Neon", sans-serif;
    font-size: 0.7rem;
    width: 100%;
}

#selection-flex-inner {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1em;

}

.span-blue {
    color: #3617FF;
    font-size: 1.2rem;
    font-style: italic;
}

#possible-sessions {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.possible-session {
    width: 90%;
    border-radius: 1em;
    padding: 1rem 1.5rem;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    border: var(--main-color) 2px solid;
    overflow: hidden;
}

.possible-session>.session-header {
    width: auto;
}

.possible-session>.time-settings {
    width: auto;
    display: none;
}

.possible-overlay {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: left 0.5s ease, right 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.possible-overlay-right {
    right: -100%;
}

.possible-overlay-left {
    left: -100%;
}

.seperation-line {
    border: 2px solid var(--main-color);
    width: 90%;
    margin: 1em 0;
    border-radius: 1em;
}

.possible-session:hover .possible-overlay-left {
    left: 0;
}

.possible-session:hover .possible-overlay-right {
    right: 0;
}

.possible-session-name {
    font-size: 1.4em;
    text-transform: capitalize;
    text-align: center;
}

.click-hint {
    font-size: 0.7em;
}

#session-selected {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: transform 0.5s ease;
    transform: translateX(100%);
    background: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 101;
}

#session-selected-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.144) 20%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9));
}

#session-selected-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 10vh;
    gap: 1em;
    left: 0;
    z-index: 5;
    color: white;
    padding: 2em;
    font-family: 'calendar-font';
}

#session-selected-name {
    text-transform: capitalize;
    font-size: 3rem;
}

#session-selected-duration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
    gap: 0.5em;
    background-color: rgba(131, 131, 131, 0.208);
    padding: 1em 1.5em;
    backdrop-filter: blur(100px);
    font-size: 0.8em;
}

#session-selected-start {
    background-color: #3617FF;
    width: 100%;
    padding: 0.7em;
    text-align: center;
    border-radius: 30px;
    font-family: "Tilt Neon", sans-serif;
    font-size: 1.3em;
}

#session-selected-close {
    position: absolute;
    top: 3%;
    left: 9%;
    color: white;
    font-size: 2em;
}